.footer {
  font-size: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  /* place-items: center; */
  /* text-align: center; */
}
.socials {
  display: inline-flex;
  column-gap: 1rem;
  font-size: 1.3rem;
}
.social {
  transition: transform 0.4s ease-in-out;
}
.social:hover {
  transform: scale(1.1);
  color: var(--gray-dark);
  cursor: pointer;
}
